In [8]:
#Chatgpt generated rencoding of data

import pandas as pd
import numpy as np
import re
import statsmodels.api as sm

# Load CSV
#file_path = "/mnt/data/Sec001_ckd_dataset_v2 (1).csv"
df = pd.read_csv("kidney.csv")


# Columns to analyze
cols_to_check = ["sg", "al", "su", "bgr", "bu", "sod", "sc", "pot", "hemo", "pcv", "rbcc", "wbcc", "grf", "age"]

# Function to extract numeric bounds
def parse_range(value, col_min=None, col_max=None):
    if pd.isna(value):
        return (np.nan, np.nan)
    value = str(value).strip()
    
    # Range format (e.g., "1 - 1" or "1.009 - 1.011")
    if "-" in value:
        nums = re.findall(r"[\d.]+", value)
        if len(nums) == 2:
            low, high = map(float, nums)
            return (low, high)
    
    # Greater than or equal (e.g., "≥ 4")
    elif "≥" in value:
        num = float(re.findall(r"[\d.]+", value)[0])
        return (num, col_max if col_max is not None else num)
    
    # Less than (e.g., "<3")
    elif "<" in value:
        num = float(re.findall(r"[\d.]+", value)[0])
        return (col_min if col_min is not None else 0, num)
    
    # Plain numeric
    elif re.match(r"^[\d.]+$", value):
        num = float(value)
        return (num, num)
    
    # Fallback for unknown formats
    return (np.nan, np.nan)

# Print unique values for each column
for col in cols_to_check:
    print(f"\n--- Unique values in {col} ---")
    print(df[col].dropna().unique())

# Apply parsing and create two new columns for each target column
for col in cols_to_check:
    # Compute overall numeric min and max ignoring non-numeric entries
    numeric_values = df[col].astype(str).str.extract(r"([\d.]+)").dropna()[0].astype(float)
    col_min, col_max = numeric_values.min(), numeric_values.max()
    
    parsed = df[col].apply(lambda x: parse_range(x, col_min, col_max))
    df[f"{col}_low"] = parsed.apply(lambda x: x[0])
    df[f"{col}_high"] = parsed.apply(lambda x: x[1])

#recode class, stage
df["classbinom"] = (df["class"] == "ckd").astype(int)
df['stagenum'] = df['stage'].astype("category").cat.codes

# Preview the result
df.head()

df = df.drop(0, axis = 0)
df = df.drop(1, axis = 0)
df = df.drop(columns = ["sg", "al", "su", "bgr", "bu", "sod", "sc", "pot", "hemo", "pcv", "rbcc", "wbcc", "grf", "age", 'class', 'stage'])
df = df.dropna()
df

--- Unique values in sg ---
['discrete' '1.019 - 1.021' '1.009 - 1.011' '1.015 - 1.017' '≥ 1.023'
 '< 1.007']

--- Unique values in al ---
['discrete' '1 - 1' '< 0' '≥ 4' '3 - 3' '2 - 2']

--- Unique values in su ---
['discrete' '< 0' '4 - 4' '2 - 2' '3 - 4' '1 - 2' '≥ 4']

--- Unique values in bgr ---
['discrete' '< 112' '112 - 154' '154 - 196' '406 - 448' '238 - 280'
 '196 - 238' '≥ 448' '280 - 322' '364 - 406' '322 - 364']

--- Unique values in bu ---
['discrete' '< 48.1' '48.1 - 86.2' '200.5 - 238.6' '124.3 - 162.4'
 '86.2 - 124.3' '162.4 - 200.5' '≥ 352.9' '238.6 - 276.7']

--- Unique values in sod ---
['discrete' '138 - 143' '133 - 138' '123 - 128' '143 - 148' '148 - 153'
 '< 118' '128 - 133' '118 - 123' '≥ 158']

--- Unique values in sc ---
['discrete' '< 3.65' '3.65 - 6.8' '16.25 - 19.4' '6.8 - 9.95'
 '13.1 - 16.25' '9.95 - 13.1' '≥ 28.85']

--- Unique values in pot ---
['discrete' '< 7.31' '≥ 42.59' '7.31 - 11.72' '38.18 - 42.59']

--- Unique values in hemo ---
['discrete' '11.3 - 12.6' '8.7 - 10' '13.9 - 15.2' '≥ 16.5' '10 - 11.3'
 '7.4 - 8.7' '12.6 - 13.9' '15.2 - 16.5' '< 6.1' '6.1 - 7.4']

--- Unique values in pcv ---
['discrete' '33.5 - 37.4' '29.6 - 33.5' '41.3 - 45.2' '37.4 - 41.3'
 '≥ 49.1' '21.8 - 25.7' '45.2 - 49.1' '< 17.9' '25.7 - 29.6' '17.9 - 21.8']

--- Unique values in rbcc ---
['discrete' '4.46 - 5.05' '5.05 - 5.64' '3.28 - 3.87' '3.87 - 4.46'
 '6.23 - 6.82' '5.64 - 6.23' '2.69 - 3.28' '< 2.69' '≥ 7.41']

--- Unique values in wbcc ---
['discrete' '7360 - 9740' '12120 - 14500' '14500 - 16880' '4980 - 7360'
 '< 4980' '9740 - 12120' '16880 - 19260' '≥ 24020' '19260 - 21640']

--- Unique values in grf ---
['discrete' '≥ 227.944' '127.281 - 152.446' '102.115 - 127.281'
 '177.612 - 202.778' '26.6175 - 51.7832' '51.7832 - 76.949'
 '76.949 - 102.115' '152.446 - 177.612' '202.778 - 227.944' '< 26.6175'
 ' p ']

--- Unique values in age ---
['discrete' 'meta' '< 12' '12 - 20' '20 - 27' '27 - 35' '35 - 43'
 '43 - 51' '51 - 59' '59 - 66' '66 - 74' '≥ 74']

,bp (Diastolic),bp limit,rbc,pc,pcc,ba,htn,dm,cad,appet,...,rbcc_low,rbcc_high,wbcc_low,wbcc_high,grf_low,grf_high,age_low,age_high,classbinom,stagenum
2,0,0,0,0,0,0,0,0,0,0,...,4.46,5.05,7360.0,9740.0,227.9440,227.9440,12.0,12.0,1,1
3,0,0,0,0,0,0,0,0,0,0,...,4.46,5.05,12120.0,14500.0,227.9440,227.9440,12.0,12.0,1,1
4,0,0,1,1,0,1,0,0,0,1,...,4.46,5.05,14500.0,16880.0,127.2810,152.4460,12.0,12.0,1,1
5,1,1,0,0,0,0,0,0,0,0,...,4.46,5.05,7360.0,9740.0,127.2810,152.4460,12.0,12.0,1,1
6,0,0,0,0,0,0,0,1,0,1,...,5.05,5.64,7360.0,9740.0,127.2810,152.4460,12.0,20.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,1,2,0,0,0,0,1,1,0,0,...,4.46,5.05,7360.0,9740.0,26.6175,51.7832,74.0,74.0,1,3
198,0,0,0,0,0,0,0,1,0,0,...,4.46,5.05,7360.0,9740.0,26.6175,26.6175,74.0,74.0,1,4
199,1,1,0,0,0,0,0,0,0,0,...,6.23,6.82,7360.0,9740.0,51.7832,76.9490,74.0,74.0,0,2
200,1,1,0,0,0,0,0,0,0,0,...,4.46,5.05,4980.0,7360.0,102.1150,127.2810,74.0,74.0,0,1
201,1,1,0,0,0,0,1,1,0,0,...,3.87,4.46,9740.0,12120.0,26.6175,26.6175,74.0,74.0,1,4

In [10]:
y = df['classbinom']
X = df.drop(columns=["classbinom"]).select_dtypes(include=["number"])
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             classbinom   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.761
Method:                 Least Squares   F-statistic:                     23.57
Date:                Sat, 08 Nov 2025   Prob (F-statistic):           8.28e-45
Time:                        12:40:39   Log-Likelihood:                 21.249
No. Observations:                 199   AIC:                             15.50
Df Residuals:                     170   BIC:                             111.0
Df Model:                          28
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         23.3324      5.019      4.649      0.000      13.425      33.240
sg_low       -74.8283     23.901     -3.131      0.002    -122.009     -27.648
sg_high       54.1486     26.047      2.079      0.039       2.732     105.565
al_low         0.0138      0.009      1.600      0.111      -0.003       0.031
al_high        0.0138      0.009      1.600      0.111      -0.003       0.031
su_low         0.0154      0.094      0.165      0.869      -0.169       0.200
su_high       -0.0090      0.083     -0.108      0.914      -0.173       0.155
bgr_low    -4.534e-05      0.001     -0.046      0.963      -0.002       0.002
bgr_high       0.0004      0.001      0.405      0.686      -0.001       0.002
bu_low         0.0030      0.002      1.629      0.105      -0.001       0.007
bu_high       -0.0027      0.001     -1.943      0.054      -0.005    4.32e-05
sod_low        0.0057      0.030      0.189      0.850      -0.053       0.065
sod_high      -0.0128      0.029     -0.447      0.655      -0.069       0.044
sc_low         0.0324      0.028      1.166      0.245      -0.022       0.087
sc_high       -0.0489      0.025     -1.959      0.052      -0.098       0.000
pot_low       -0.0297      0.065     -0.457      0.649      -0.158       0.099
pot_high       0.0270      0.063      0.430      0.667      -0.097       0.151
hemo_low      -0.0121      0.055     -0.221      0.825      -0.120       0.096
hemo_high     -0.0531      0.058     -0.914      0.362      -0.168       0.062
pcv_low       -0.0252      0.017     -1.495      0.137      -0.058       0.008
pcv_high       0.0252      0.018      1.393      0.166      -0.011       0.061
rbcc_low      -0.1278      0.215     -0.595      0.553      -0.552       0.296
rbcc_high      0.0779      0.213      0.366      0.715      -0.342       0.497
wbcc_low   -5.502e-05   3.61e-05     -1.524      0.129      -0.000    1.62e-05
wbcc_high   5.062e-05   3.52e-05      1.440      0.152   -1.88e-05       0.000
grf_low       -0.0022      0.003     -0.848      0.397      -0.007       0.003
grf_high       0.0017      0.003      0.605      0.546      -0.004       0.007
age_low        0.0158      0.009      1.773      0.078      -0.002       0.033
age_high      -0.0166      0.009     -1.826      0.070      -0.035       0.001
stagenum       0.1174      0.043      2.756      0.006       0.033       0.201
==============================================================================
Omnibus:                        1.653   Durbin-Watson:                   1.736
Prob(Omnibus):                  0.438   Jarque-Bera (JB):                1.663
Skew:                           0.217   Prob(JB):                        0.435
Kurtosis:                       2.892   Cond. No.                     1.05e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.09e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.